<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <% if (projects && projects.length > 0) { %>
        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <div>
                        <a href="/project/<%= project.project_id %>">
                            <strong><%= project.title %></strong>
                        </a>
                        <span class="meta">
                            <%= new Date(project.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                             — 
                            <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>
                        </span>
                    </div>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No service projects found.</p>
    <% } %>
</main>
<%- include('partials/footer') %>
